<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.mapper.AccountMapper">
	<select id="selectAccount" resultType="com.example.mybatis.model.Books">
		SELECT * from md_books where book_id = #{id}
	</select>

</mapper>