<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.mapper.AccountMapper">
	<select id="selectAccount" resultType="com.example.mybatis.model.Account">
		SELECT * from md_account where account_id = #{id}
	</select>

    <insert id="insertAccount" parameterType="com.example.mybatis.model.Account" useGeneratedKeys="true" keyProperty="accountId">
        insert into md_account
        (
            account_id,
            account_name,
	        state,
	        `comment`,
	        amount,
	        update_date,
	        create_date,
	        cert_id,
	        cert_type
	    )
	    values
	    (
	        #{account.accountId},
	        #{account.accountName},
	        #{account.state},
	        #{account.comment},
	        #{account.amount},
	        #{account.updateDate},
	        #{account.createDate},
	        #{account.certId},
	        #{account.certType}
	    )
    </insert>

    <select id="checkCertId" resultType="int">
        select count(*) from md_account where cert_id = #{certId}
    </select>

    <update id="updateAccount" parameterType="com.example.mybatis.model.Account">
        update  md_account
        <set>
            <if test="account.accountName != null">
                account_name = #{account.accountName},
            </if>
            <if test="account.state != null">
                state = #{account.state},
            </if>
            <if test="account.comment != null">
                comment = #{account.comment},
            </if>
            <if test="account.amount != null">
                amount = #{account.amount},
            </if>
            <if test="account.certId != null">
                cert_id = #{account.certId},
            </if>
            <if test="account.certType != null">
                cert_type = #{account.certType},
            </if>
            update_date = now()
        </set>
        where account_id = #{account.accountId}
    </update>
</mapper>